<h1>Employee Contact</h1>

<div class="Econtact">
<input type="text" placeholder="FullName"><br><br>
<input type="number" placeholder="phoneNumber"><br><br>
<input type="text" placeholder="add"><br><br>
<select value="city" name="city" >
    <option value="city"name="city">City</option>
    <option value="city"name="city">Mumbai</option>
    <option value="city"name="city">Pune</option>
</select>
</div>
<h4>{{name}}</h4>

<a [href]="link">Go To Google</a> <br><br>

<img [src] = "myImagepath"alt="notFound"><br><br>

<h2>{{ paragraph}}</h2>           <!--style in css-->

<h3 [style.background-color]="color"> This is a Style Attribute </h3>

<div class="title">
<h3>{{title}}</h3>
<h5>{{name1}}</h5>
</div>
