h1{
    color: tomato;
    text-align: center;
}
.Econtact{
    border: 1px solid;
    border-radius: 10px;
    width: 500px;
    margin-left: 500px;
 
    border-radius: 5px;
    text-align: center;

}
input[type=text]{
    width: 200px;
    border-radius:4px ;
}
input[type=number]{
    width: 200px;
    border-radius: 4px;
}
h2{
    color: red;
}
.title{
    border: 1px solid;
    width: 400px;
    font-family: fantasy;
    color: green;
    text-align: center;
}


